<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Hospital Management System{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>🏥 Hospital Management System</h1>
        <nav>
            <a href="{{ url_for('auth.login') }}">Login</a>
            <a href="{{ url_for('auth.register') }}">Register</a>
            <a href="{{ url_for('patient_routes.appoint') }}">Dashboard</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </nav>
        <hr>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <hr>
        <p>&copy; 2025 Hospital Management System</p>
    </footer>
</body>
</html>
